/* body {
    background-color: crimson;
} */

#cv-form{
    /* display: none; */
}
.myimg{
    border-radius: 50%;
    width: 200px;
}
.background
    {
        background-color: rgb(11, 2, 3);
        color: white;
    }
